<nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-custom" >
  <div class="container-fluid col-10">
    <a class="navbar-brand" href="/">KS.</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarCollapse">

      <ul class="navbar-nav ms-auto text-end mb-2 mb-md-0 pt-2">


        <li class="nav-item">
          <a class="nav-link px-3 mx-2 navbar-custom" aria-current="page" href="/#about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link px-3 mx-2 navbar-custom" href="/#projects">Projects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link px-3 mx-2 navbar-custom" href="/#contact">Contact</a>
        </li>


      </ul>

    </div>
  </div>
</nav>


<div class="container mt-5">
  <div class="d-flex flex-wrap">
    <div class="col-11 col-lg-9 mx-auto">

      <div class="col-12 py-5">
        <section id="about">
          <h1 class="big-heading">I'm Kate Southwart</h1>
          <p class="mt-5 ps-2 text-break text-justify">Hi, I'm Kate Southwart (aka Kaitlyn Myer), and I'm a junior web developer. I've recently completed a fullstack development bootcamp, taken on a passion project of my own, and am seeking my first developer role.</p>
        </section>
      </div>

      <div class="col-12 py-5">
        <section id="projects">

          <h1 class="big-heading mb-5">My projects</h1>

          <div class="my-3">
            <h2>Render</h2>
            <p class="mt-5 ps-2 text-break text-justify">Render is a passion project of mine which I created to expand on the skills learned during my development bootcamp.
              Render is a cooking focused social media platform which includes features for posting recipes, following other users, private profiles, and the "Discover" feature.
              Discover is a "Tinder"-like mechanic for finding users to follow and be inspired by in a fun way, while increasing the visibility of users who would normally be hidden by powerful SEO.
            </p>

            <div class="col-12 mx-auto d-flex flex-wrap justify-content-between">
              <div class=" m-2 m-lg-0 col-12 col-lg-4 text-center">
                <a href="https://www.rendersocial.io/"><img src="/images/render home.png" class="project-img" alt="Render Homepage"></a>

              </div>
              <div class=" m-2 m-lg-0 col-12 col-lg-4 text-center">
                <a href=""><img src="/images/render home.png" class="project-img" alt="Render"></a>

              </div>
              <div class=" m-2 m-lg-0 col-12 col-lg-4 text-center">
                <a href=""><img src="/images/render home.png" class="project-img" alt="Render"></a>

              </div>


            </div>
            <!-- <p>
              SKILLS
              AJAX
              JQuery
              Mailchimp API
              Passport.js
              Google OAuth
              Day.js

              TECH STACK
              Mongoose / MongoDB
              Express.js
              Javascript
              EJS
              Bootstrap
              CSS
              HTML
              </p> -->

          </div>

          <div class="my-3 d-flex flex-wrap">
            <h2 class="col-12">Guided Projects</h2>
            <p class="col-12">A variety of projects completed during the duration of my full stack web development bootcamp.</p>
            <div class="col-12 mx-auto d-flex flex-wrap justify-content-between">
              <div class=" m-2 m-lg-0 col-9 col-lg-4 mx-auto">
                <a href="https://blogprojectmongoose-70a7c4816ba3.herokuapp.com/"><img src="/images/blog.png" class="project-img" alt="Blog project"></a>

              </div>
              <div class=" m-2 m-lg-0 col-9 col-lg-4 mx-auto">
                <a href="https://diceejavascriptproject-73e656f7bb30.herokuapp.com/"><img src="/images/simon game.png" class="project-img" alt="Simon game project"></a>

              </div>
              <div class=" m-2 m-lg-0 col-9 col-lg-4 mx-auto">
                <a href="https://simongamejquery-2ac8b8e5ecb2.herokuapp.com/"><img src="/images/dice game.png" class="project-img" alt="Dicee game project"></a>

              </div>


            </div>
          </div>

        </section>
      </div>

      <div class="col-12 py-5">
        <section id="contact">
          <a href="mailto:kate.southwart@gmail.com">kate.southwart@gmail.com</a>
          <a href="https://www.linkedin.com/in/kaitlyn-myer-31288b218/"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/katesouthwart"><i class="fa-brands fa-github"></i></a>
        </section>
      </div>

    </div>
  </div>
</div>
